* {
    font-family: 'Samsung Sans Regular';
}

body {
    background-color: #000;
}

/* Header */
header {
    background-color: rgba(37, 35, 35, 0.904);
    border-radius: 0px 0px 10px 10px;
}

.container-fluid {
    background-color: rgba(37, 35, 35, 0.904);
    border-bottom: 1vw #fff;
}

/* Body Main */
.main-content {
    margin: 1vw;
}
#main-title {
    font-size: .8em;
}
/* .main-text {
    font-size: .7em;
} */

.main-content-imgs {
    display: flex;
    flex-wrap: nowrap; 
}

.main-content-imgs > img {
    margin: 1em;
    padding: 1em;
    width: 15em;
    height: 15em;
}

/* img {
    margin-top: 2em;
    margin-left: 5em;
} */
/* Footer */

/* Others */
.active {
    font-size: 1.2em;
    font-weight: bold;
}